<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="newPageForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titolo">Title</label>
        <input
          type="text"
          id="titolo"
          class="form-control"
          formControlName="titolo"
        />

        <label for="url">URL</label>
        <input
          type="text"
          id="url"
          class="form-control"
          formControlName="url"
        />

        <label for="chiavi">Key</label>
        <input
          type="text"
          id="chiavi"
          class="form-control"
          formControlName="chiavi"
        />

        <label for="descrizione">Description</label>
        <textarea
          type="text"
          id="descrizione"
          class="form-control"
          formControlName="descrizione"
        >
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
