<div class="row">
  <div class="col-sm-12 col-md-12">
    <app-admin-single-page
      *ngFor="let page of arrayPages; let i = index"
      [singlePage]="page"
      [currentId]="i"
      (idPageDelete)="onDelete($event, i)"
      (idPageModify)="onModify(i, $event)"
    ></app-admin-single-page>

    <span class="help-block" *ngIf="httpReq.nothingToDisplay">
      Your search has brought 0 results. Try search something else!
    </span>
    <div class="center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
