.page {
  margin: 10px;
}

.animation-container {
  margin: 20px;
  height: 100px;
  width: 490px;
}

.animation-fire {
  font-size: 25px;
  margin-top: 47px;
  animation: animation-fire;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(0.66, 0.54, 0.5, 0.62);
}

.snowman {
  font-size: 40px;
  bottom: 286.8125px;
}

.snowman-not-animation {
  left: 230px;

  margin-top: 30px;
  position: absolute;
}

.snowman-animation {
  left: 230px;
  margin-top: 30px;
  position: absolute;
  animation: animation-jump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes animation-fire {
  from {
    margin-left: 480px;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes animation-jump {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 0px;
  }
}
