<div class="container">
  <div class="container page">
    <div class="alert alert-danger">
      <h2>{{ error.status }}</h2>
      <p>{{ error.message }}</p>
      <div style="display: flex">
        <a routerLink="/search">Home </a>
        <div *ngIf="authTriedBefore">
          | <a routerLink="/login">Login Again</a>
        </div>
      </div>
    </div>

    <div class="alert alert-default">
      <h4>Try this little chrome dino game: click on start and have fun!</h4>
      <span class="help-block" *ngIf="isAnimationOn"
        >Hint: click the up arrow to jump.</span
      >
      <br />
      <button class="btn btn-success" (click)="onStart()">Start</button>
      <br />
      <div class="center">
        <canvas id="canvas"> </canvas>
        <br />
        <div class="center">
          <h4 *ngIf="isGameOver" class="lost">YOU LOST</h4>
        </div>
      </div>
    </div>
  </div>
</div>
