<div class="container page">
  <div class="alert alert-danger">
    <h2>{{ error.status }}</h2>
    <p>{{ error.message }}</p>
    <div style="display: flex">
      <a routerLink="/search">Home </a>
      <div *ngIf="authTriedBefore">
        | <a routerLink="/login">Login Again</a>
      </div>
    </div>
    <!-- router link che rimanda alla pagina di login
      distingui errore per accesso alla pag admin o errore per pagina non esistente -->
  </div>
  <div class="animation-container">
    <!-- <i class="fa-solid fa-fire-flame-curved"></i> -->
    <div
      [ngClass]="{
        'snowman-not-animation': !isJumping,
        'snowman-animation': isJumping
      }"
      (click)="onJump()"
    >
      <i class="fa-solid fa-snowman snowman" #snowman></i>
    </div>
    <i class="fa-solid fa-fire animation-fire" #fire></i>
  </div>

  <!-- bottone stop animazione da implementare in seguito -->
  <div style="display: flex; justify-content: right; width: 100%">
    <button class="btn btn-default" (click)="onStopAnimation()">
      <i class="fa-solid fa-stop" *ngIf="isAnimationOn"></i>
      <i class="fa-solid fa-play" *ngIf="!isAnimationOn"></i>
      Animazione
    </button>
  </div>

  <h3 *ngIf="isGameOver">Game Over</h3>
</div>
