<div class="container">
  <div class="container page">
    <div class="alert alert-danger">
      <h2>{{ error.status }}</h2>
      <p>{{ error.message }}</p>
      <div style="display: flex">
        <a routerLink="/search">Home </a>
        <div *ngIf="authTriedBefore">
          | <a routerLink="/login">Login Again</a>
        </div>
      </div>
    </div>

    <div class="alert alert-default">
      <button class="btn btn-success" (click)="onStart()">Start</button>
      <br />
      <canvas id="canvas"> </canvas>
      <h3 *ngIf="isGameOver" class="lost">YOU LOST</h3>
    </div>
  </div>
</div>
