.container {
  margin-top: 30px;
}

.cancel-btn {
  display: flex;
}

.icon {
  font-size: 20px;
  line-height: unset;
  cursor: pointer;
  color: rgb(139, 200, 224);
}

.lens {
  cursor: auto !important;
}

.login-btn {
  display: flex;
  justify-content: flex-end;
}

.btn,
.icon {
  margin: 6px;
}

.btn {
  border-radius: 10px;
}

.top-portion {
  display: flex;
  justify-content: space-between;
}

.searchButton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  border: none;
}

.input-area {
  border: 1px solid #ced4da;
  border-radius: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
