<div class="page">
  <div class="container login-btn">
    <button class="btn btn-primary" routerLink="/login" *ngIf="!authenticated">
      Admin Login
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <form #f="ngForm" (ngSubmit)="onSearch()">
          <div class="form-group cancel-btn">
            <input
              type="text"
              class="form-control"
              [placeholder]="!f.touched ? 'Search here...' : ''"
              [(ngModel)]="search"
              name="searchInput"
            />
            <i class="fa-solid fa-circle-xmark icon" (click)="onCancel()"></i>
          </div>
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <app-client-single-page
          *ngFor="let page of arrayPages"
          [page]="page"
        ></app-client-single-page>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-default" (click)="changePage()">
  avanti prova
</button>
