.container {
  margin-top: 30px;
}

.cancel-btn {
  display: flex;
}

.icon {
  font-size: 20px;
  line-height: unset;
  color: rgb(139, 200, 224);
}

.login-btn {
  display: flex;
  justify-content: flex-end;
}

.btn,
.icon {
  margin: 6px;
}

.log {
  border-radius: 40px;
}

.top-portion {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  background-color: rgb(88, 154, 253);
  color: rgb(0, 62, 117);
}
