<div class="page">
  <div class="top-portion">
    <div class="container">
      <button
        *ngIf="authenticated"
        type="button"
        class="btn btn-light log"
        (click)="gotToAdminPage()"
      >
        Admin Page <i class="fa-solid fa-user-shield"></i>
      </button>
    </div>
    <div class="container login-btn">
      <button
        class="btn btn-primary log"
        routerLink="/login"
        *ngIf="!authenticated"
      >
        Login <i class="fa-solid fa-user-shield"></i>
      </button>
      <button
        class="btn btn-primary log"
        (click)="logout()"
        *ngIf="authenticated"
      >
        Logout <i class="fa-solid fa-user-large-slash"></i>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <form #f="ngForm" (ngSubmit)="onSearch()">
          <div class="form-group cancel-btn">
            <input
              type="text"
              class="form-control"
              [placeholder]="!f.touched ? 'Search here...' : ''"
              [(ngModel)]="search"
              name="searchInput"
            />
            <i class="fa-solid fa-circle-xmark icon" (click)="onCancel()"></i>
          </div>
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <app-client-single-page
          *ngFor="let page of arrayPages"
          [page]="page"
        ></app-client-single-page>
      </div>
    </div>
  </div>
</div>
