<!-- Parte di ricerca con relativi bottoni -->
<div class="row justify-content-center">
  <div class="col-1" id="homeButton">
    <button type="button" class="btn btn-primary" (click)="onNavigateHome()">
      Home
    </button>
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #f="ngForm" (ngSubmit)="onSearch(f)">
      <input
        type="text"
        class="form-control"
        placeholder="Search here..."
        ngModel
        name="searchInput"
      />
      <button type="submit" class="btn btn-success">Search</button>
    </form>
  </div>
  <div class="col-1">
    <i class="fa-solid fa-circle-xmark icon"></i>
  </div>
  <div class="col-3">
    <button class="btn btn-secondary" (click)="onNewPage()">New Page</button>
  </div>
</div>

<!-- Lista siti web -->
<div class="row" *ngIf="!isNewPage">
  <div class="col-auto">
    <app-admin-single-page
      *ngFor="let page of pages; let i = index"
      [singlePage]="page"
      [idPageInput]="i"
      (idPageDelete)="onDelete($event)"
    ></app-admin-single-page>
  </div>
</div>

<!-- Sezione di modifica -->
<router-outlet></router-outlet>
