<div class="container">
  <!-- Bottone Home -->
  <div class="contenitore">
    <div>
      <button type="button" class="btn btn-primary" (click)="onNavigateHome()">
        Home <i class="fa-solid fa-house"></i></button
      >|
      <button class="btn btn-danger" (click)="onLogout()">
        Logout <i class="fa-solid fa-user-large-slash"></i>
      </button>
    </div>
    <!-- Bottone New Page -->
    <div>
      <button
        *ngIf="!local.isNewPage"
        class="btn btn-warning"
        (click)="onNewPage()"
      >
        New Page <i class="fa-solid fa-circle-plus"></i>
      </button>
    </div>
  </div>

  <!-- Barra di ricerca -->
  <form #f="ngForm" (ngSubmit)="onSearch(f)">
    <div class="form-group searchBar">
      <i class="fa-solid fa-magnifying-glass icon"></i>
      <input
        type="text"
        class="form-control input"
        placeholder="Search here..."
        ngModel
        name="searchInput"
        required
      />
      <i class="fa-solid fa-circle-xmark icon" (click)="onResetForm(f)"></i>
    </div>

    <!-- Bottone Search -->
    <div class="searchButton">
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">
        Search
      </button>
    </div>
  </form>

  <!-- Lista siti web -->
  <div class="pageList">
    <router-outlet></router-outlet>
  </div>
</div>
