<div class="container">
  <div class="contenitore">
    <div class="buttonContainer">
      <button type="button" class="btn btn-primary" (click)="onNavigateHome()">
        Home <i class="fa-solid fa-house"></i></button
      >|
      <button class="btn btn-danger" (click)="onLogout()">
        Logout <i class="fa-solid fa-user-large-slash"></i>
      </button>
    </div>
    <div>
      <button
        *ngIf="!local.isNewPage"
        class="btn btn-warning"
        (click)="onNewPage()"
      >
        New Page <i class="fa-solid fa-circle-plus"></i>
      </button>
    </div>
  </div>

  <div class="container searchButton">
    <app-logo></app-logo>
  </div>

  <!-- Barra di ricerca -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <form #f="ngForm" (ngSubmit)="onSearch(f)">
        <div class="form-group searchBar">
          <i class="fa-solid fa-magnifying-glass icon"></i>
          <input
            type="text"
            class="form-control input"
            placeholder="Search here..."
            ngModel
            name="searchInput"
            required
          />
          <i class="fa-solid fa-circle-xmark icon" (click)="onResetForm(f)"></i>
        </div>

        <div class="searchButton">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="pageList">
    <router-outlet></router-outlet>
  </div>
</div>
